.con {
  height: calc(100vh - (56px + 117.8px)); 
  overflow : scroll; 
  background-color: #DFDCF2;
  border-right: 1px solid #9049BF;
  border-left: 1px solid #9049BF;
  scrollbar-color: #9049BF #DFDCF2;
  border-radius: 0%;
}

.circularImage {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  overflow: hidden; 
  margin-right: 15px; 
}

.circularImage img {
  width: 100%; 
  height: auto; 
}

.contact{
  background-color: #DFDCF2;
  border-bottom:  1px solid #9049BF;
  transition: background-color 0.2s ease, color 0.2s ease; 

}

.contact:hover {
  background-color: white; 
  /* color: #DFDCF2; */
}
